In [1]:
import pandas as pd
import operator
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [2]:
# reading data
prior_orders = pd.read_csv('order_products__prior.csv')
train_orders = pd.read_csv('order_products__train.csv')
orders = pd.read_csv('orders.csv')

In [3]:
# 選取testing的顧客
test  = orders[orders['eval_set'] == 'test' ]
user_ids = test['user_id'].values
orders = orders[orders['user_id'].isin(user_ids)]
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
26,1374495,3,prior,1,1,14,nan
27,444309,3,prior,2,3,19,9.0000
28,3002854,3,prior,3,3,16,21.0000
29,2037211,3,prior,4,2,18,20.0000
30,2710558,3,prior,5,0,17,12.0000

In [4]:
# prior顧客的購買紀錄
prior_products = pd.DataFrame(prior_orders.groupby('order_id')['product_id'].apply(list))
prior_products.reset_index(level=['order_id'], inplace=True)
prior_products.columns = ['order_id','products_list']
prior_products.head()

   order_id                                      products_list
0         2  [33120, 28985, 9327, 45918, 30035, 17794, 4014...
1         3  [33754, 24838, 17704, 21903, 17668, 46667, 174...
2         4  [46842, 26434, 39758, 27761, 10054, 21351, 225...
3         5  [13176, 15005, 47329, 27966, 23909, 48370, 132...
4         6                              [40462, 15873, 41897]

In [5]:
# training顧客的購買
train_products = pd.DataFrame(train_orders.groupby('order_id')['product_id'].apply(list))
train_products.reset_index(level=['order_id'], inplace=True)
train_products.columns = ['order_id','products_list']
train_products.head()

   order_id                                      products_list
0         1  [49302, 11109, 10246, 49683, 43633, 13176, 472...
1        36  [39612, 19660, 49235, 43086, 46620, 34497, 486...
2        38  [11913, 18159, 4461, 21616, 23622, 32433, 2884...
3        96  [20574, 30391, 40706, 25610, 27966, 24489, 39275]
4        98  [8859, 19731, 43654, 13176, 4357, 37664, 34065...

In [6]:
# seperate orders into prior/train sets
# turns out there are no test user_ids in the training set so train will be empty
prior = orders[orders['eval_set'] == 'prior']
train = orders[orders['eval_set'] == 'train']

In [7]:
# find the number of the last order placed
prior['num_orders'] = prior.groupby(['user_id'])['order_number'].transform(max)
train['num_orders'] = train.groupby(['user_id'])['order_number'].transform(max)
prior.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,num_orders
26,1374495,3,prior,1,1,14,nan,12
27,444309,3,prior,2,3,19,9.0000,12
28,3002854,3,prior,3,3,16,21.0000,12
29,2037211,3,prior,4,2,18,20.0000,12
30,2710558,3,prior,5,0,17,12.0000,12

In [8]:
# merge everything into one dataframe
prior = pd.merge(prior, prior_products, on='order_id', how='left')
train = pd.merge(train, train_products, on='order_id', how='left')
comb = pd.concat([prior, train], axis=0).reset_index(drop=True)
comb.head()

,days_since_prior_order,eval_set,num_orders,order_dow,order_hour_of_day,order_id,order_number,products_list,user_id
0,nan,prior,12,1,14,1374495,1,"[9387, 17668, 15143, 16797, 39190, 47766, 2190...",3
1,9.0000,prior,12,3,19,444309,2,"[38596, 21903, 248, 40604, 8021, 17668, 21137,...",3
2,21.0000,prior,12,3,16,3002854,3,"[39190, 47766, 21903, 49683, 28373, 7503]",3
3,20.0000,prior,12,2,18,2037211,4,"[1819, 12845, 9387, 16965, 24010]",3
4,12.0000,prior,12,0,17,2710558,5,"[39190, 9387, 17668, 47766, 16965, 28373, 2190...",3

In [9]:
# 選取～training and testing
test_cols = ['order_id','user_id']
cols = ['order_id','user_id','order_number','num_orders','products_list']

comb = comb[cols]
test = test[test_cols]
print(test.head())
comb.head()

     order_id  user_id
38    2774568        3
44     329954        4
53    1528013        6
96    1376945       11
102   1356845       12

,order_id,user_id,order_number,num_orders,products_list
0,1374495,3,1,12,"[9387, 17668, 15143, 16797, 39190, 47766, 2190..."
1,444309,3,2,12,"[38596, 21903, 248, 40604, 8021, 17668, 21137,..."
2,3002854,3,3,12,"[39190, 47766, 21903, 49683, 28373, 7503]"
3,2037211,3,4,12,"[1819, 12845, 9387, 16965, 24010]"
4,2710558,3,5,12,"[39190, 9387, 17668, 47766, 16965, 28373, 2190..."

In [10]:
# iterate through dataframe, adding data to dictionary
# data added is in the form of a list:
    # list[0] = weight of the data: (1 + current order number / final order number), thus later data is weighted more
    # list[1] = how important the item is to the buyer: (order in the cart / number of items bought), thus items bought first are weighted more

# also used the average amount of items bought every order as a benchmark for how many items to add per user in the final submission

product_dict = {}
for i, row in comb.iterrows():
    if i % 100000 == 0:
        print('Iterated Through {} Rows...'.format(i))

    if row['user_id'] in product_dict:
        index = 1
        list.append(product_dict[row['user_id']]['len_products'], len(row['products_list']))
        for val in row['products_list']:
            if val in product_dict[row['user_id']]:
                product_dict[row['user_id']][val][0] += 1 + int(row['order_number']) / int(row['num_orders'])
                list.append(product_dict[row['user_id']][val][1], index / len(row['products_list']))
            else:
                product_dict[row['user_id']][val] = [1 + int(row['order_number']) / int(row['num_orders']),
                                              [index / len(row['products_list'])]]
            index += 1
    else:
        index = 1
        product_dict[row['user_id']] = {'len_products': [
            len(row['products_list'])]}
        for val in row['products_list']:
            product_dict[row['user_id']][val] = [1 + int(row['order_number']) / int(row['num_orders']),
                                          [index / len(row['products_list'])]]
            index += 1

Iterated Through 0 Rows...
Iterated Through 100000 Rows...
Iterated Through 200000 Rows...
Iterated Through 300000 Rows...
Iterated Through 400000 Rows...
Iterated Through 500000 Rows...
Iterated Through 600000 Rows...
Iterated Through 700000 Rows...
Iterated Through 800000 Rows...
Iterated Through 900000 Rows...
Iterated Through 1000000 Rows...
Iterated Through 1100000 Rows...

In [21]:
final_data = {}
for user_id in product_dict:
    final_data[user_id] = {}
    for product_id in product_dict[user_id]:
        if product_id == 'len_products':
            final_data[user_id][product_id] = \
                round(sum(product_dict[user_id][product_id])/
                    len(product_dict[user_id][product_id]))
        else:
            final_data[user_id][product_id] = \
                [product_dict[user_id][product_id][0],1/
                 (sum(product_dict[user_id][product_id][1])/
                len(product_dict[user_id][product_id][1]))]

1. 顧次每次購買數量
2. 1 + current order number / final order number
3. 每一次出現先後的比例
4. 最後的data是把它加起來的整理

In [23]:
# iterate through testing dataframe
# every user_id in test corresponds to a dictionary entry
# call the dictionary with every row, products by weight, combine them into a string, and append them to products

products = []
for i, row in test.iterrows():
    if i % 100000 == 0:
        print('Iterated Through {} Rows...'.format(i))

    final_products = []
    len_products = None
    total_products = final_data[row['user_id']].items()
    for product in total_products:
        if product[0] == 'len_products':
            len_products = product[1]
        else:
            list.append(final_products, product)

    output = []
    product_list = sorted(final_products, key=operator.itemgetter(1), reverse=True)
    for val in product_list[:len_products]:
        list.append(output, str(val[0]))
    final_output = ' '.join(output)
    list.append(products, final_output)

Iterated Through 1700000 Rows...

In [91]:
# create submission
submission = pd.DataFrame()
submission['order_id'] = test['order_id']
submission['products'] = products
#submission.to_csv('submission.csv', index=False)
print(submission.isnull().sum())
submission.head()

order_id    0
products    0
dtype: int64

     order_id                                           products
38    2774568           39190 47766 21903 17668 18599 9387 43961
44     329954                            35469 26576 25623 21573
53    1528013                       38293 21903 49401 25659 8424
96    1376945  27959 8309 14947 35948 28465 34658 8670 42585 ...
102   1356845  13176 14992 10863 7076 8239 5746 28134 21616 2...

In [44]:
d = pd.read_csv("submit_abc.csv")
print (d.shape)
print (d.isnull().sum())

d1 = pd.read_csv("submission.csv")
d1 = d1.sort("order_id", ascending=True).reset_index(drop = True)
print (d1.shape)
print (d1.isnull().sum())

d_1 = d.dropna()

d_2 = d[pd.isnull(d).any(axis=1)]
d1_1 = d1.iloc[d_2.index, :]
print (d_1.shape)
print (d1_1.shape)

sub = pd.concat([d_1, d1_1])
sub = sub.reset_index(drop = True)
print (sub.shape)
sub.to_csv("sub.csv", index = False)

(75000, 2)
order_id        0
products    50151
dtype: int64
(75000, 2)
order_id    0
products    0
dtype: int64
(24849, 2)
(50151, 2)
(75000, 2)